@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-black);
}

:root {
  --text-black: #333322;
  --primary-color: #faf4e5;
  --primary-pink: #e5a1aa;
}


.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;

}

.experience-canvas {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.page {
  z-index: 99999;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.page-wrapper {
  position: relative;
}

.hero {
  width: 100vw;
  height: 100vh;
}

.hero-wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 160px);
  margin: 0 auto;
}

.hero-main {
  position: absolute;
  bottom: 168px;
  left: 160px;
}

.hero-second {
  position: absolute;
  top: calc(50% - 160px);
  right: 160px;
}

.hero-main-title {
  font-size: 54px;
}
.hero-main-description {
  font-size: 18px;
}

.hero-second-body {
  font-size: 24px;
  text-transform: uppercase;
}

/* section margin */

.section-margin {
  height: 3000px;
  width: 100%;
}

.section {
  width: 50%;
  padding: 1000px 4%;
  margin: 0;
  background-color: var(--primary-color);
}

.section-title {
  position: relative;
  color: var(--primary-pink);
}

.section-title-text {
  display: block;
  font-size: 40px;
  font-weight: 500;
  transform-origin: left;
  transform: skewY(25deg);
  z-index: 5;
  text-transform: uppercase;
}

.styleOne,
.styleTwo,
.styleThree {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 278px;
  height: 60px;
  border: 1px solid var(--primary-pink);
  transform-origin: left;
  transform: skewY(25deg);
}

.styleOne {
  top: 0px;
}
.styleTwo{
  top: 80px;
}
.styleThree {
  top: 80px;
  transform: skewY(-25deg);
}

.left {
  margin-right: auto;
}
.right {
  margin-left: auto;
}

.section-intro-wrapper {
  position: relative;
  padding: 20% 5%;
  border-bottom: 2px solid var(--primary-pink);
  padding-bottom: 400px;
}

.section-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 64px;
}

